.main {
  width: 100%;
  &__body {
    width: 80%;
    height: 800px;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 30px auto;
    padding: 30px;
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: center;
}

.how-to-play {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  &__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 380px;
    grid-gap: 12px;
  }
  &__block {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.flex-direction {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 207px;
  height: 36px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2196F3;
  background: #F2F9FE;
  cursor: pointer;
  border: 1px solid #2196F3;
  border-radius: 4px;
  margin-top: 20px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    opacity: 0.9;
    background: #2196F3;
    color: #F2F9FE;
  }
}

.wrapper {
  position: relative;
}

.first {
  flex: 0 0 20%;
  background-image: url(./../assets/icon/first.svg);
  background-repeat: no-repeat;
}

.second {
  flex: 0 0 20%;
  background-image: url(./../assets/icon/second.svg);
  background-repeat: no-repeat;
}

.third {
  flex: 0 0 20%;
  background-image: url(./../assets/icon/third.svg);
  background-repeat: no-repeat;
}

.example-img {
  width: 330px;
  height: 240px;
  background-image: url(./../assets/image/example.png);
  background-repeat: no-repeat;
  margin-top: 5px;
}
