
html{
--width1200: 1200px;
--width900: 900px;
--width790: 790px;
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MAIN PAGE 
@media (min-width: 1920px) {
  .mainPage {
    width: var(--width1200);
    padding-top: 206px;
  }

  .bg-mainPage {
    height: 940px;
  }

  .social-mainPage {
    margin-top: 722px;
    margin-left: 152px;
  }
  .slider-mainPage {
    left: 51%;
    bottom: 86px;
  }

  .counter_mainPage {
    bottom: -85px;
    left: 186px;
  }

  .slider__item-mainPage {
    width: 140px;
    height: 203px;
    margin-right: 46px;
  }
}

@media (max-width: 1919px) {
  .mainPage {
    width: var(--width900);
    padding-top: calc(128px + (206 - 128) * ((100vw - 1200px) / (1920 - 1200)));
  }

  .bg-mainPage {
    height: 926px;
  }

  .social-mainPage {
    margin-top: calc(747px + (722 - 747) * ((100vw - 1200px) / (1920 - 1200)));
    margin-left: calc(150px + (152 - 150) * ((100vw - 1200px) / (1920 - 1200)));
  }

  .counter_mainPage {
    left: 24%;
    bottom: -91px;
  }

  .slider-mainPage {
    left: 52%;
    bottom: calc(-17px + (86 + 17) * ((100vw - 1200px) / (1920 - 1200)));
  }

  .slider__item-mainPage {
    width: 180px;
    height: 261px;
    bottom: 14px;
    margin-right: 30px;
  }
} 

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HOW ITS WORK? 
@media (min-width: 1920px) {
  .howItWorks {
    width: var(--width790);
  }
  
  .slider__item-howItWorks {
    width: 790px;
    height: 323px;	
  }

  .slider__howItWorks {
    margin: 30px 0;
  }
}

@media (max-width: 1919px) {
  .howItWorks {
    width: 746PX;
  }

  .slider__item-howItWorks{
    width: 746px;
    height: 323px;
  }

  .slider__howItWorks {
    margin: 14px 0 30px 0;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> WHAT INSPIRING US 
@media (min-width: 1920px) {
  .whatInspiringUs {
    grid-column-gap: 30px;
    &__box {
      width: 380px;
      height: 213px;
    }
  }
}

@media (max-width: 1919px) {
  .whatInspiringUs {
    grid-column-gap: 20px;
    &__box {
      width: 286px;
      height: 215px;
    }
  }  
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PETS IN ZOO 
@media (min-width: 1920px) {
  .petsInZoo {
    width: var(--width1200);
  }

  .slider__item-petsInZoo {
    width: 278px;
    height: 399px;
    margin-right: 30px;
  }

  .slider-petsInZoo {
    margin-top: 35px;
  }
}

@media (max-width: 1919px) {
  .petsInZoo {
    width: var(--width900);
  }

  .slider__item-petsInZoo {
    width: 210px;
    height: 301px;
    margin-right: 20px;
  }

  .slider-petsInZoo {
    margin-top: 32px;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PAY AND FEED 
@media (min-width: 1920px) {
  .payAndFeed {
    width: var(--width1200);
    &__arrow{
      margin: 0 63px;
      &-box {
        width: 107px;
      }
    }
    &__about {
      margin-bottom: 92px;
    }
    &__map {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 1919px) {
  .payAndFeed {
    width: var(--width900);
    &__arrow{
      margin: 0 17px;
      &-box {
        width: 48px;
      }
    }
    &__about {
      margin-bottom: calc(50px + (92 - 50) * ((100vw - 1200px) / (1920 - 1200)));
    }
    &__map {
      margin-bottom: calc(51px + (60 - 51) * ((100vw - 1200px) / (1920 - 1200)));
    }
  }
}
