
html{
--width1200: 1200px;
--width900: 900px;
--width790: 790px;
--width600: 600px;
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER

@media (min-width: 640px) {
  .header__wrapper {
    margin: 0 150px;
  }
}

@media (max-width: 1200px) {
  .header__wrapper {
    margin: 0 calc(20px + (150 - 20) * ((100vw - 640px) / (1200 - 640)));
  }
  .navbar {
    display: none;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MAIN PAGE 
@media (min-width: 1920px) {
  .mainPage {
    width: var(--width1200);
    padding-top: 206px;
    &__title {
      width: 793px;
      font-size: 89px;  
    }
  }

  .bg-mainPage {
    height: 940px;
  }

  .social-mainPage {
    margin-top: 722px;
    margin-left: 152px;
  }
  .slider-mainPage {
    left: 51%;
    bottom: 86px;
  }

  .counter_mainPage {
    bottom: -85px;
    left: 186px;
  }

  .slider__item-mainPage {
    width: 140px;
    height: 203px;
    margin-right: 46px;
  }
}

@media (max-width: 1919px) {
  .mainPage__title {
		// width: 793px;
		font-size: 89px;
  }
  .mainPage {
    width: var(--width900);
    padding-top: calc(128px + (206 - 128) * ((100vw - 1200px) / (1920 - 1200)));
  }

  .bg-mainPage {
    height: 926px;
  }

  .social-mainPage {
    margin-top: calc(747px + (722 - 747) * ((100vw - 1200px) / (1920 - 1200)));
    margin-left: calc(150px + (152 - 150) * ((100vw - 1200px) / (1920 - 1200)));
  }

  .counter_mainPage {
    left: 24%;
    bottom: -91px;
  }

  .slider-mainPage {
    left: 52%;
    bottom: calc(-17px + (86 + 17) * ((100vw - 1200px) / (1920 - 1200)));
  }

  .slider__item-mainPage {
    width: 180px;
    height: 261px;
    bottom: 14px;
    margin-right: 30px;
  }
} 

@media (min-width: 1200px) {
  .mainPage__title {
    margin-bottom: 41px;
  }

  .slider__string {
    left: -135px;
    top: 168px;
  }
}

@media (max-width: 1199px) {
  .mainPage {
    width: var(--width600);
    padding-top: calc(122px + (128 - 122) * ((100vw - 640px) / (1200 - 640)));
    &__title {
      font-size: 64px;
      margin-bottom: 34px;
    }
  }

  .social-mainPage {
    margin-top: calc(726px + (747 - 726) * ((100vw - 640px) / (1200 - 640)));
    margin-left: calc(20px + (150 - 20) * ((100vw - 640px) / (1200 - 640)));
  }

  .slider-mainPage {
    left: 17%;
    bottom: calc(-64px + (-17 + 64) * ((100vw - 640px) / (1200 - 640)));
  }

  .slider__string {
    left: calc(-69px + (-135 + 69) * ((100vw - 640px) / (1200 - 640)));
    top: 169px;
  }

  .counter_mainPage {
    left: 36%;
  }

  .bg-mainPage {
    height: 934px;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HOW ITS WORK? 
@media (min-width: 1920px) {
  .howItWorks {
    width: var(--width790);
  }
  
  .slider__item-howItWorks {
    width: 790px;
    height: 323px;	
  }

  .slider__howItWorks {
    margin: 30px 0;
  }
}

@media (max-width: 1919px) {
  .howItWorks {
    width: 746px;
  }

  .slider__item-howItWorks{
    width: 746px;
    height: 323px;
  }

  .slider__howItWorks {
    margin: 14px 0 30px 0;
  }
}

@media (min-width: 1200px) {
  .howItWorks{
    margin: 100px 0;
  }
}

@media (max-width: 1199px) {
  .howItWorks {
    width: var(--width600);
    margin: 100px 0 68px 0;
  }

  .slider__howItWorks {
    margin: 31px 0 30px 0;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> WHAT INSPIRING US 
@media (min-width: 1920px) {
  .whatInspiringUs {
    grid-column-gap: 30px;
    &__box {
      width: 380px;
      height: 213px;
    }
  }
}

@media (max-width: 1919px) {
  .whatInspiringUs {
    grid-column-gap: 20px;
    &__box {
      width: 286px;
      height: 215px;
    }
  }  
}

@media (min-width: 1200px) {
  .whatInspiringUs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1199px) {
  .whatInspiringUs {
    grid-template-columns: 1fr;
    grid-template-rows: 197px 181px 197px;
    grid-row-gap: 50px;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PETS IN ZOO 
@media (min-width: 1920px) {
  .petsInZoo {
    width: var(--width1200);
  }

  .slider__item-petsInZoo {
    width: 278px;
    height: 399px;
    margin-right: 30px;
  }

  .slider-petsInZoo {
    margin-top: 35px;
  }
}

@media (max-width: 1919px) {
  .petsInZoo {
    width: var(--width900);
  }

  .slider__item-petsInZoo {
    width: 210px;
    height: 301px;
    margin-right: 20px;
  }

  .slider-petsInZoo {
    margin-top: 32px;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PAY AND FEED 
@media (min-width: 1920px) {
  .payAndFeed {
    width: var(--width1200);
    &__arrow{
      margin: 0 63px;
      &-box {
        width: 107px;
      }
    }
    &__about {
      margin-bottom: 92px;
    }
    &__map {
      margin-bottom: 63px;
    }
  }
}

@media (max-width: 1919px) {
  .payAndFeed {
    width: var(--width900);
    &__arrow{
      margin: 0 17px;
      &-box {
        width: 48px;
      }
    }
    &__about {
      margin-bottom: calc(50px + (92 - 50) * ((100vw - 1200px) / (1920 - 1200)));
    }
    &__map {
      margin-bottom: calc(51px + (60 - 51) * ((100vw - 1200px) / (1920 - 1200)));
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> TESTIMONIALS
@media (min-width: 1920px) {
  .testimonials{
    width: var(--width1200);
  }
  
  .slider__item-testimonials {
    width: 585px;
    height: 310px;
  }

  .slider__block {
    width: 440px;
  }
}

@media (max-width: 1919px) {
  .testimonials{
    width: var(--width900);
  }

  .slider__item-testimonials {
    width: 440px;
    height: 310px;
  } 

  .slider__block {
    width: calc(326px + (440 - 326) * ((100vw - 1200px) / (1920 - 1200)));
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MAP

@media (min-width: 1920px) {
  .map {
    width: var(--width1200);
  }

  .label__position{
		&-eagle{
      bottom: 330px;
      left: 122px;
		}
		&-crocodile{
			bottom: 301px;
			left: 245px;
		}
		&-gorilla{
			bottom: 214px;
			left: 572px;
		}
		&-panda{
			bottom: 313px;
			left: 893px;
		}
	}

  .map__animal:hover .window {
    right: 402px;
  }

  .footer__column{
		&_right{
			margin-left: 26px;
		}
	}
}

@media (max-width: 1919px) {
  .map {
    width: var(--width900);
    &__world_img{
      width: 900px;
      height: 436px;
    }
  }

  .label__position{
		&-eagle{
      bottom: 287px;
      left: 84px;
		}
		&-crocodile{
      bottom: 274px;
      left: 174px;
		}
		&-gorilla{
      bottom: 189px;
      left: 421px;
		}
		&-panda{
      bottom: 273px;
      left: 657px;
		}
	}

  .map__animal:hover .window {
    right: -16px;
  }

  .map__animal:hover .window-panda {
    right: 403px;
  }

  .footer__column{
		&_right{
			margin-left: 76px;
		}
	}
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER

@media (min-width: 1920px) {
  .footer {
    justify-content: center;
    &__content {
      width: 1700px;
    }
    &__donate {
      top: 0;
      right: 0;
    }
  }

  .footer__column{
		&_right{
			margin-left: 26px;
		}
	}

  .footer__column-position {
    margin-bottom: 58px;
  }
}

@media (min-width: 1200px) {
  .footer {
    &__logo {
      flex: 1 0 50%;
    }
    &__navbar {
      flex: 1 0 50%;
      margin: 20px 0 75px 0;
      padding-left: 15px;
      align-self: flex-end;
    }
    &__form {
      flex: 1 0 50%;
    }
    &__contacts {
      flex: 1 0 50%;
      padding: 0 15px;
    }
  }

}

@media (max-width: 1919px) {
  .footer {
    &__donate {
      padding: 0 10px;
      left: 50%;
      bottom: 59px;
      top: auto;
      right: auto;
    }  
    &__contacts {
      position: relative;
      bottom: 12px;
      padding: 0 10px;
    }
    &__navbar {
      padding-left: 10px;
    }
  }

  .footer__column{
		&_right{
			margin-left: calc(76px + (26 - 76) * ((100vw - 1200px) / (1920 - 1200)));;
		}
	}

  .footer__column-position {
    margin-bottom: calc(45px + (58 - 45) * ((100vw - 1200px) / (1920 - 1200)));
  }

}