@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '__media_live_brodcast.scss';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	--bg-first: #fff;
	--bg-second: #F2F2F2;
	--bg-window: #FEFEFE;
	--color-text: #333;
	--shadow: 0 3px 15px 1px #dedede;
	--color-text-range: #333;
	--color-text-total: #BDBDBD;
	--color-title-small: #4F4F4F;
	--width1200: 1200px;
	--width790: 790px;
	--footer-text: #FEFEFE;
	--footer-form: #E0E0E0;
	--footer-form-solid: #BDBDBD;
}

html[data-theme='dark'] {
	--bg-first: #333;
	--bg-second: #4F4F4F;
	--color-title-small: #F2F2F2;
	--color-text: #FEFEFE;
	--shadow: none;
	--bg-window: #333333;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	display: flex;
	justify-content: center;
	background: var(--bg-first);
		&__wrapper{ 
		width: 1620px;
		display: flex;
		justify-content: space-between;
		box-shadow: var(--shadow);
	}
}

.visuallyhidden{ 
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	border: 0;
}

.logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	z-index: 3;
	&__zoo{
		font-size: 36px;
		font-weight: 900;
		line-height: 26px;
		text-align: center;
		color: var(--color-text);
	}
	&__online{
		font-size: 18px;
		font-weight: 900;
		letter-spacing: 0.08em;
		text-align: center;
		text-transform: lowercase;
		color: var(--color-text);
	}
}

.navbar{
	display: flex;
	&__list{
		display: flex;
		padding: 0;
		&_header {
			position: relative;
			top: 4px;
		}
	}
	&__item{
		position: relative;
		list-style-type: none;
		white-space: nowrap;
		&-link{
			text-decoration: none;
		}
		&-text{
			font-family: 'Roboto', sans-serif;
			text-transform: capitalize;
			font-weight: 500;
			color: var(--color-text);
		}
		&:hover{
			.navbar__item-link{
				text-decoration: none;
			}
			.navbar__item-text{
				filter: invert(40%) sepia(83%) saturate(337%) hue-rotate(130deg);
			}
		}
		&-active{
			.navbar__item-link{
				text-decoration: underline;
			}
			.navbar__item-text{
				font-weight: 900;
				text-decoration: underline;
			}
		}
	}
}

.theme{
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
	&__toggle{
		height: 0;
		width: 0;
		visibility: hidden;	
		&:checked + label {
			background: #4F4F4F;
		}
		&:checked + label:after {
			background: #1B1B1B;
			left: calc(100% - 5px);
			transform: translateX(-100%);
		}
	}
	&__label{
		cursor: pointer;
		width: 54px;
		height: 30px;
		background: #F2F2F2;
		float: right;
		border-radius: 100px;
		position: relative;	
		&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 20px;
			height: 20px;
			background: #fff;
			border-radius: 90px;
			transition: 0.3s;
			box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
		}
		&:active:after {
			width: 45px;
		}
	}
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.main{
	width: 100%;
	// box-shadow: var(--shadow);
	&__wrapper{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&-margin{
		margin: 100px 0;
	}
	&-title{
		font-weight: 900;
		position: relative;
		color: var(--color-text);
	}
	&-smallTitle{
		font-weight: 900;
		margin-bottom: 7px;
		text-align: center;
		color: var(--color-title-small);
	}
	&-text{
		color: var(--color-title-small);
	}
}

.color{
	&-header{
		background-color: var(--bg-first);
	}
	&-first{
		background-color: var(--bg-first);
	}
	&-second{
		background-color: var(--bg-second);
	}
}

.mainPage{
	width: var(--width1200);
	&__title{
		width: 793px;
		font-size: 89px;
		font-weight: 900;
		color: #fff;
		margin-bottom: 41px;
		padding-top: 206px;
	}
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	&-main{
		display: block;
	}
	&-mainPage{
		margin-bottom: 44px;
	}
	&__color{
		background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
		border-radius: 3px;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		// width: 194px;
		// height: 55px;
		&-footer{
			width: 279px;
		}
		&:hover{
			background: linear-gradient(106.89deg, #329179 -14.32%, #3599a0 100.68%);
		}
	}
	&__title{
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		display: table;
		&-main{
			font-size: 18px;
			font-weight: 900;
			padding-left: 6px;
		}
		&-play{
			font-size: 12px;
			font-weight: 500;
			background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
			color: #4BD8B5;
			-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		&-donate{
			font-size: 12px;
		}
	}
	&__img{
		background-image: url(../../../assets/icons/play-big.svg);
		background-repeat: no-repeat;
		width: 32px;
		height: 32px;
		&-play{
			background-image: url(../../../assets/icons/play-small.svg);
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
		}
		&-donate{
			background-image: url(../../../assets/icons/donate.svg);
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
		}
	}
	&__poster{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		border: none;
		width: 113px;
		height: 24px;
		&-play{
			background: none;
			margin-right: 10px; 
		}
		&-donate{
			background: none;
			width: 74px;
			height: 24px;
		}
	}
}

.footer{
	display: flex;
	background: #333;
	&__logo-wrapper {
		width: 59px;
		height: 42px;
	}
	&__content{
		position: relative;
		display: flex;
		width: 100%;
		padding: 0;
		flex-wrap: wrap;
		border-bottom: 1px solid #bdbdbd;
	}
	&__column{
		width: 100%;
		margin-bottom: 60px;
		&-position{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__contacts{
		// margin-bottom: 46px;
		color: #fefefe;
	}
	&__copyright{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&-text{
			color: var(--footer-form-solid);
			margin-bottom: 5px;
			font-size: 12px;
		}
	}
	.logo__zoo{
		color: var(--footer-text);
		text-align: start;
	}
	.logo__online{
		color: var(--footer-text);
		text-align: start;
	}
	.navbar__item-text{
		color: var(--footer-text);
	}
	&__form{
		display: flex;
		flex-direction: column;
		&-title{
			color: var(--footer-text);
			font-size: 20px;
			font-weight: 900;
			// margin-bottom: 33px;
		}
	}
	&__donate {
		margin: 0 auto;
		margin-bottom: 80px;
		position: absolute;
		width: fit-content;
		display: flex;
		justify-content: center;
	}
}

.contactUs{
	&__inf{
		max-width: 383px;
		height: 26px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		color: var(--footer-form);
		background-color: var(--dark-bg-color);
		border: none;
		border-bottom: 1px solid var(--footer-form-solid);
	}
	&__fieldset{
		max-width: 383px;
		height: 122px;
		border: 1px solid #BDBDBD;
		border-radius: 3px;
		// margin-bottom: 27px;
		&-textarea{
			width: 100%;
			border: none;
			resize: none;
			background: none;
			height: 94px;
			outline:none;
			box-sizing: border-box;
			color: var(--footer-form);
		}
		&-toptext{
			padding: 0 5px 0 3px;
			font-style: normal;
			font-size: 12px;
			line-height: 14px;
			color: var(--footer-form-solid);
		}
	}
	&__send{
		display: flex;
		justify-content: flex-start;
		width: 108px;
		height: 16px;
		border: none;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #FEFEFE;
		background: url(../../../assets/images/footer/send_btn.svg) no-repeat 60px 3px;
		cursor: pointer;
		// margin-right: 14px;
	}
	&__wrapper-send{
		display: flex;
		justify-content: flex-end;
		max-width: 383px;
		&:hover .contactUs__send{
			filter: invert(40%) sepia(83%) saturate(337%) hue-rotate(130deg);
		}
	}
}

.checkbox{
  position: relative;
  display: flex;
  align-items: center;
	margin-bottom: 20px;
	&__input{
		position: absolute;
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		&:checked + .checkbox__label::before {
			content: "\2713";
			margin-right: 6px;
			display: block;
			width: 13px;
			height: 13px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__label{
		display: flex;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: var(--footer-form-solid);
		cursor: pointer;
		&::before{
			content: "";
			margin-right: 6px;
			display: block;
			width: 13px;
			height: 13px;
			border: 1px solid #BDBDBD;
			border-radius: 1px;
		}
	}
}

.contact{
	&__title{
		font-weight: bold;
		font-size: 14px;
		color: var(--footer-text);
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
	&__wrapper{
		width: 190px;
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}
	&__text{
		color: var(--footer-text);
		margin-bottom: 5px;
		text-decoration: none;
		font-style: normal;
	}
}

.social{
	width: 132px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 20px;
	grid-gap: 8px;
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;
		box-sizing:content-box;
	}
	&-mainPage{
		width: 20px;
		height: 107px;
		position: absolute;
		left: 0;
		grid-template-columns: 20px;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-gap: 11px;
	}
	&__img:hover{
		filter: invert(40%) sepia(83%) saturate(337%) hue-rotate(130deg);
	}
}

.sidebar {
	position: relative;
}

.aside-slider{
	&_vertical{
		margin: 0;
		position: sticky;
		top: 35px;
		margin-bottom: 20px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		overflow: hidden;
		&_vertical{
			flex-direction: column;
			margin: 0;
			& svg{
				width: 20px;
				height: 20px;
			}
		}
	}
	&__slide{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(to right, #07EEE0, #DF496D);
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s;
    &:hover{
      box-shadow: 0 0 12px #329179;
		}
		&_active{
			& .aside-slider__img{
				position: absolute;
			}
		}
	}
	&__substrate{
		width: 0%;
		height: 0%;
		border-radius: 50%;
		background-color: var(--bg-second);
	}
	&__img{
		width: 101%;
		height: 101%;
		object-fit: cover;
		border-radius: 50%;
	}
	&__button{
		position: absolute;
		top: calc(50% - 17px);
		left: calc(50% - 14px);
		cursor: pointer;
		display: block;
		& svg path {
			fill: var(--color-text);
		}
		&:hover svg path {
			fill: #828282;
		}
		& svg{
			width: 23px;
			height: 23px;
		}
		&_left{
			top: -19px;
			transform: rotate(90deg);
		}
		&_right{
			top: auto;
			transform: rotate(90deg);
		}
	}
}

.zoo{
	display: flex;
	&__description{
		&-title{
			text-align: start;
		}
	}
	&__thumbs{
		display: grid;
	}
	&__main-video iframe {
		border-radius: 5px;
	}
	&__dots{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	&__dot{
		width: 8px;
		height: 8px;
		border-radius: 50%;
		margin-right: 5px;
		background-color: #c4c4c4;
		cursor: pointer;
		&:hover{
			opacity: 0.5;
		}
		&-active{
			width: 11px;
			height: 11px;
			background-color: #4bd8b5;
		}
	}
}