@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
}

html{
	--bg-first: #fff;
	--bg-second: #F2F2F2;
	--bg-window: #FEFEFE;
	--color-text: #333;
	--shadow: inset 0 3px 15px 1px #dedede;
	--color-text-range: #333;
	--color-text-total: #BDBDBD;
	--color-title-small: #4F4F4F;
	--width1200: 1200px;
	--width790: 790px;
	--footer-text: #FEFEFE;
	--footer-form: #E0E0E0;
	--footer-form-solid: #BDBDBD;
}

html[data-theme='dark'] {
	--bg-first: #333;
	--bg-second: #4F4F4F;
	--color-title-small: #F2F2F2;
	--color-text: #FEFEFE;
	--shadow: none;
	--bg-window: #333333;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	height: 94px;
	display: flex;
	justify-content: center;
	background: var(--bg-first);
		&__wrapper{ 
		width: 1620px;
		margin: 26px;
		display: flex;
		justify-content: space-between;
	}
}

.visuallyhidden{ 
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	border: 0;
}

.logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	&__zoo{
		font-size: 36px;
		font-weight: 900;
		line-height: 26px;
		text-align: center;
		color: var(--color-text);
	}
	&__online{
		font-size: 18px;
		font-weight: 900;
		letter-spacing: 0.08em;
		text-align: center;
		text-transform: lowercase;
		color: var(--color-text);
	}
}
.navbar{
	display: flex;
	justify-content: center;
	flex-direction: column;
	&__header{
		width: 573px;
	}
	&__footer{
		width: 380px;
	}
	&__list{
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		height: 16px;
	}
	&__item{
		position: relative;
		list-style-type: none;
		white-space: nowrap;
		&-link{
			text-decoration: none;
		}
		&-text{
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			text-transform: capitalize;
			font-weight: 500;
			color: var(--color-text);
		}
		&:hover{
			.navbar__item-link{
				text-decoration: none;
			}
			.navbar__item-text{
				filter: invert(40%) sepia(83%) saturate(337%) hue-rotate(130deg)
			}
		}
		&-active{
			.navbar__item-link{
				text-decoration: underline;
			}
			.navbar__item-text{
				font-weight: 900;
				text-decoration: underline;
			}
		}
	}
}

.navbar__item-active{
	.navbar__item-link{
		text-decoration: underline;
	}
	.navbar__item-text{
		font-weight: 900;
		text-decoration: underline;
	}
}

.theme{
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__toggle{
		height: 0;
		width: 0;
		visibility: hidden;	
		&:checked + label {
			background: #4F4F4F;
		}
		&:checked + label:after {
			background: #1B1B1B;
			left: calc(100% - 5px);
			transform: translateX(-100%);
		}
	}
	&__label{
		cursor: pointer;
		width: 54px;
		height: 30px;
		background: #F2F2F2;
		float: right;
		border-radius: 100px;
		position: relative;	
		&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 20px;
			height: 20px;
			background: #fff;
			border-radius: 90px;
			transition: 0.3s;
			box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
		}
		&:active:after {
			width: 45px;
		}
	}
	
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.main{
	display: flex;
	width: 100%;
	box-shadow: var(--shadow);
	&__page{
		width: var(--width1200);
	}
	&__wrapper{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-left: 151px;
	}
	&-margin{
		margin: 100px 0;
	}
	&-title{
		font-weight: 900;
		font-size: 48px;
		position: relative;
		padding: 0;
		color: var(--color-text);
	}
	&-smallTitle{
		font-weight: 900;
		font-size: 20px;
		margin-bottom: 8px;
		text-align: center;
		color: var(--color-title-small);
	}
	&-text{
		font-size: 14px;
		margin-bottom: 12px;
		color: var(--color-title-small);
	}
}

.color{
	&-header{
		background-color: var(--bg-first);
	}
	&-first{
		background-color: var(--bg-first);
	}
	&-second{
		background-color: var(--bg-second);
	}
}

.bg-mainPage{
	height: 940px;
	background-repeat: no-repeat;
	background-image: url(../../../assets/images/bg-main.jpg);
	background-position: center;
	background-size: cover;
}

.mainPage{
	width: var(--width1200);
	&__title{
		width: 793px;
		font-size: 89px;
		font-weight: 900;
		color: #fff;
		margin-bottom: 41px;
		padding-top: 206px;
	}
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	&-main{
		display: block;
	}
	&-mainPage{
		margin-bottom: 44px;
	}
	&__color{
		background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
		border-radius: 3px;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 194px;
		height: 55px;
		&-footer{
			width: 279px;
		}
		&:hover{
			background: linear-gradient(106.89deg, #329179 -14.32%, #3599a0 100.68%);
		}
	}
	&__title{
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		display: table;
		&-main{
			font-size: 18px;
			font-weight: 900;
			padding-left: 6px;
		}
		&-play{
			font-size: 12px;
			font-weight: 500;
			background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
			color: #4BD8B5;
			-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		&-donate{
			font-size: 12px;
		}
	}
	&__img{
		background-image: url(../../../assets/icons/play-big.svg);
		background-repeat: no-repeat;
		width: 32px;
		height: 32px;
		&-play{
			background-image: url(../../../assets/icons/play-small.svg);
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
		}
		&-donate{
			background-image: url(../../../assets/icons/donate.svg);
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
		}
	}
	&__poster{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		border: none;
		width: 113px;
		height: 24px;
		&-play{
			background: none;
			margin-right: 10px; 
		}
		&-donate{
			background: none;
			width: 74px;
			height: 24px;
		}
	}
}

.poster{
	position: relative;
	width: 140px;
	height: 203px;
	border-radius: 5px;
	transition: 0.8s;
	&:hover{
		transform: scale(1.1);
	}
	&-eagle{
		background-image: url(../../../assets/images/mainPage/eagle.jpg);
		background-position: center;
		background-repeat: no-repeat;	
	}
	&-panda{
		background-image: url(../../../assets/images/mainPage/big/panda.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&-garilla{
		background-image: url(../../../assets/images/mainPage/garilla.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&-crocodile{
		background-image: url(../../../assets/images/mainPage/crocodile.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&-fox{
		background-image: url(../../../assets/images/mainPage/fox.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&-sloth{
		background-image: url(../../../assets/images/mainPage/sloth.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&-elefant{
		background-image: url(../../../assets/images/mainPage/elefant.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
	&-panther{
		background-image: url(../../../assets/images/mainPage/panther.jpg);
		background-position: center;
		background-repeat: no-repeat;
	}
}

.range {
	height: 5px;
	-webkit-appearance: none;
	margin: 15px 0 32px 0;
	width: 245px;
	&:focus {
		outline: none;
	}
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 5px;
		cursor: pointer;
		animate: 0.2s;
		background: #BDBDBD;
	}
	&::-webkit-slider-thumb {
		height: 10px;
		width: 30px;
		background: #FFFFFF;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -2.5px;
		&:hover{
			background: #4BD8B5;
		}
	}
	&::-moz-range-track {
		width: 100%;
		height: 5px;
		cursor: pointer;
		animate: 0.2s;
		background: #BDBDBD;
	}
	&:focus::-webkit-slider-runnable-track {
		background: #BDBDBD;
	}
	&::-moz-range-thumb {
		height: 10px;
		width: 30px;
		background: #FFFFFF;
		cursor: pointer;
	}
	&::-ms-track {
		width: 100%;
		height: 5px;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}
	&::-ms-fill-lower {
		background: #BDBDBD;
	}
	&::-ms-fill-upper {
		background: #BDBDBD;
	}
	// &::-ms-thumb {
	// 	margin-top: 1px;
	// 	height: 10px;
	// 	width: 30px;
	// 	background: #FFFFFF;
	// 	cursor: pointer;
	// }
	&:focus::-ms-fill-lower {
		background: #BDBDBD;
	}
	&:focus::-ms-fill-upper {
		background: #BDBDBD;
	}
	&-black::-webkit-slider-thumb {
		background: var(--color-text-range);
	}
	&-bigThumb::-webkit-slider-thumb{
		width: 62px;
	}
}

.counter{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&_mainPage{
		position: relative;
		bottom: 36px;
		right: 96px;
	}
	&__current{
		font-weight: 900;
		font-size: 24px;
		&-mainPage{
			color: #FEFEFE;
		}
		&-white{
			color: var(--color-text);
		}
	}
	&__total{
		margin: 0;
		padding: 0;
		font-weight: 900;
		font-size: 14px;
		&-mainPage{
			color: #BDBDBD;
		}
		&-white{
			color: var(--color-text-total);
		}
	}
	&__numbers{
		margin: auto;
	}
}

.howItWorks{
	width: var(--width790);
	&__title{
		margin: 0 0 30px 0;
	}
}

.slider{
	&-mainPage{
		width: 1063px;
		overflow: hidden;
		position: relative;
		left: 480px;
		bottom: 140px;
	}		
	&__howItWorks{
		width: 790px;
		height: 323px;
		margin: 30px 0;
	}
	&-petsInZoo{
		margin-top: 35px;
		margin-bottom: 30px;
		display: flex;
		position: relative;
		align-items: center;
	}
	&-testimonials{
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
	}
	&__list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 29px;
		&-testimonials{
			width: 1200px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 310px;
			grid-column-gap: 26px;
			margin: 49px 0;
		}
		&-mainPage{
			position: relative;
			width: 1547px;
			height: 434px;
			left: 135px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			grid-column-gap: 0;
			z-index: 1;
		}
	}
	&__item{
		list-style-type: none;
		&-testimonials{
			background: #FEFEFE;
			box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
			border-radius: 5px;
		}
	}
	&__img{
		border-radius: 5px;
	}
	&__animal{
		width: 278px;
		height: 399px;
	}
	&__arrow{
		width: 18px;
		height: 30px;
		border: 0;
		background: none;
		cursor: pointer;
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		& img:hover{
			filter: invert(52%) sepia(13%) saturate(21%) hue-rotate(343deg) brightness(96%) contrast(83%);
		}
		&-left{
			left: -44px;
		}
		&-right{
			right: -44px;
		}
	}
	&__block{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;	
	}
	&__string{
		position: relative;
		background-image: url(../../../assets/images/string.svg);
		background-repeat: no-repeat;
		width: 1063px;
		height: 13px;
		z-index: 0;
		left: 480px;
		top: 82px;
	}
	
}

.slider__item-active{
	height: 352px;
	width: 245px;
	position: relative;
	bottom: 14px;
	.animal__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		height: 352px;
		width: 245px;
		border-radius: 5px;
	}
	.slider__wrapper{
		background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
		border-radius: 5px;
	}
}

.animal{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	&:hover{
		.animal__wrapper{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			width: 100%;
			height: 100%;
		}
		.slider__wrapper{
			width: 100%;
			height: 100%;
			background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
			border-radius: 5px;
		}
	}
	&__wrapper{
		display: none;
		margin-left: 22px;
	}
	&-panda{
		background-image: url(../../../assets/images/petsInZoo/img_1.jpg);
		background-repeat: no-repeat;
		border-radius: 5px;
		&__mainPage{
			background-image: url(../../../assets/images/mainPage/panda.jpg);
			background-repeat: no-repeat;
			border-radius: 5px;
		}
	}
	&-eagle{
		background-image: url(../../../assets/images/petsInZoo/img_2.jpg);
		background-repeat: no-repeat;
		border-radius: 5px;
	}
	&-garilla{
		background-image: url(../../../assets/images/petsInZoo/img_3.jpg);
		background-repeat: no-repeat;
		border-radius: 5px;
	}
	&-alligator{
		background-image: url(../../../assets/images/petsInZoo/img_4.jpg);
		background-repeat: no-repeat;
		border-radius: 5px;
	}
	&__about{
		width: 180px;
		margin-bottom: 14px;
		&-text{
			color: #FFFFFF;
			font-size: 14px;
		}
	}
}

.whatInspiringUs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	&__box{
		width: 380px;
		height: 213px;
		&-img{
			width: 80px;
			height: 80px;
			margin-left: auto;
			margin-right: auto
		}
	}
	&__wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.petsInZoo{
	width: var(--width1200);
	&__title{
		text-align: center;
	}
}

.payAndFeed{
	width: var(--width1200);
	&__title{
		text-align: center;
		margin-bottom: 30px;
	}
	&__about{
		text-align: center;
		margin-bottom: 92px;;
	}
	&__map{
		margin-bottom: 60px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__circle{
		display: block;
		height: 239px;
		width: 239px;
		border: #4BD8B5 solid 3px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__arrow{
		margin: 0 63px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&-box{
			position: relative;
			width: 107px;
			height: 2px;
			background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #4BD8B5), color-stop(1, #49D6DF));
			left:0;
			display: block;
			&::after {
				content: '';
				position: absolute;
				width: 10px;
				height: 2px;
				top: -3px;
				right: -2px;
				background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #4BD8B5), color-stop(1, #49D6DF));
				transform: rotate(45deg);
				border-radius: 2px;
			}
			&::before {
				content: '';
				position: absolute;
				width: 10px;
				height: 2px;
				top: 3px;
				right: -2px;
				background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #4BD8B5), color-stop(1, #49D6DF));
				transform: rotate(-45deg);
				border-radius: 2px;
			}
		}
	}
	&__img{
		background-repeat: no-repeat;
		&-card{
			background-image: url(../../../assets/images/payAndFeed/card.svg);
			width: 70px;
			height: 52.9px;
			width: 65px;
			
			top: 67px;
			left: 87px;
		}
		&-zoo{
			background-image: url(../../../assets/images/payAndFeed/zoo.svg);
			width: 70px;
			height: 52.9px;
			width: 65px;
			top: 67px;
			left: 87px;
		}
		&-panda{
			background-image: url(../../../assets/images/payAndFeed/panda.svg);
			width: 70px;
			height: 52.9px;
			width: 65px;
			top: 67px;
			left: 87px;
		}
	}
	&__name{
		width: 135px;
		margin: 18px 0 0 0;
	}
}

.testimonials{
	width: var(--width1200);
	&__title{
		text-align: center;
		margin-bottom: 12px;
	}
}

.user{
	width: 440px;
	&__icon{
		width: 68px;
		height: 68px;
		border: 1px solid #BDBDBD;
		box-sizing: border-box;
		border-radius: 50%;
		margin-top: 47px;
	}
	&__name{
		margin-bottom: 17px;
	}
}

.block{
	&__wrapper{
		display: flex;
		align-items: center;
		flex-direction: column;	
	}
}

.map{
	&__title{
		text-align: center;
	}
	&__world{
		margin-top: 61px;
		margin-bottom: 27px;
	}
	&__animal{
		background-image: url(../../../assets/images/map/label.svg);
		height: 94px;
		width: 67px;
	}
	
	&__wrapper{
		list-style-type: none;
		width: 1px;
		height: 1px;
	}
}

.label{
	&__img{
		position: relative;
		top: 14px;
		left: 12px;
	}
	&__position{
		position: relative;
		&-eagle{
			bottom: 428px;
			left: 121px;
		}
		&-crocodile{
			bottom: 402px;
			left: 244px;
		}
		&-gorilla{
			bottom: 316px;
			left: 571px;
		}
		&-panda{
			bottom: 417px;
			left: 893px;
		}
	}
	&__window{
		display: flex;
		flex-direction: row;
	}
}

.window{
	height: 149px;
	width: 436px;
	background: var(--bg-window);
	box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
	border-radius: 8px;
	position: relative;
	right: 402px;
  top: 29px;
	&__img{
		margin: 40px 20px 0 44px;
	}
	&__information{
		margin-top: 40px;
	}
	&__title{
		font-weight: 900;
		font-size: 18px;
		margin-bottom: 4.5px;
		color: var(--color-text);
	}
	&__about{
		display: flex;
		flex-direction: column;
		&-text{
			margin: 2.5px 0;
		}
		&-textregular{
			font-weight: 400;
			font-size: 14px;
			color: var(--color-title-small);
		}
		&-textbold{
			font-weight: 900;
			font-size: 14px;
			color: var(--color-title-small);
		}
	}
}

.footer{
	display: flex;
	justify-content: center;
	background: #333;
	&__wrapper{
		width: 1620px;
		margin: 100px 26px 72px 26px;
	}
	&__content{
		display: flex;
		flex-direction: row;
	}
	&__column{
		width: 100%;
		margin-bottom: 60px;
		&-position{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 58px;
		}
		&_right{
			margin-left: 30px;
		}
	}
	&__contact{
		display: flex;
	}
	&__solid{
		width: 100%;
		border-bottom: 0.5px solid var(--footer-text);
		margin-bottom: 28px;
	}
	&__copyright{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		&-text{
			color: var(--footer-form-solid);
			margin-bottom: 5px;
			font-size: 12px;
		}
	}
	.logo__zoo{
		color: var(--footer-text);
		text-align: start;
	}
	.logo__online{
		color: var(--footer-text);
		text-align: start;
	}
	.navbar__item-text{
		color: var(--footer-text);
	}
	&__form{
		width: 383px;
		margin-top: 33px;
		&-title{
			color: var(--footer-text);
			font-size: 20px;
			font-weight: 900;
			margin-top: 65px;
		}
	}
}

.contactUs{
	&__inf{
		width: 100%;
		height: 26px;
		margin-bottom: 20px;
		color: var(--footer-form);
		background-color: var(--dark-bg-color);
		border: none;
		border-bottom: 1px solid var(--footer-form-solid);
	}
	&__fieldset{
		height: 122px;
		border: 1px solid #BDBDBD;
		border-radius: 3px;
		margin-bottom: 8px;
		&-textarea{
			width: 100%;
			border: none;
			resize: none;
			background: none;
			height: 94px;
			outline:none;
			box-sizing: border-box;
			color: var(--footer-form);
		}
		&-toptext{
			padding: 0 5px 0 3px;
			font-style: normal;
			font-size: 12px;
			line-height: 14px;
			color: var(--footer-form-solid);
		}
	}
	&__send{
		display: flex;
		justify-content: flex-start;
		width: 108px;
		height: 16px;
		border: none;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #FEFEFE;
		background: url(../../../assets/images/footer/send_btn.svg) no-repeat 60px 3px;
		cursor: pointer;
		margin-right: 14px;
	}
	&__wrapper-send{
		display: flex;
		justify-content: flex-end;
		&:hover .contactUs__send{
			filter: invert(40%) sepia(83%) saturate(337%) hue-rotate(130deg);
		}
	}
}

.checkbox{
  position: relative;
  display: flex;
  align-items: center;
	margin-bottom: 20px;
	&__input{
		position: absolute;
		opacity: 0;
		z-index: -1;
		overflow: hidden;
		&:checked + .checkbox__label::before {
			content: "\2713";
			margin-right: 6px;
			display: block;
			width: 13px;
			height: 13px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__label{
		display: flex;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: var(--footer-form-solid);
		cursor: pointer;
		&::before{
			content: "";
			margin-right: 6px;
			display: block;
			width: 13px;
			height: 13px;
			border: 1px solid #BDBDBD;
			border-radius: 1px;
		}
	}
}

.contact{
	display: flex;
	flex-direction: column;
	&__title{
		font-weight: bold;
		font-size: 14px;
		color: var(--footer-text);
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
	&__wrapper{
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}
	&__text{
		color: var(--footer-text);
		margin-bottom: 5px;
		text-decoration: none;
	}
}

.social{
	width: 132px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 20px;
	grid-gap: 8px;
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style-type: none;
		box-sizing:content-box;
	}
	&-mainPage{
		width: 20px;
		position: relative;
		bottom: 310px;
		right: 208px;
		grid-template-columns: 20px;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-gap: 8px;
	}
	&__img:hover{
		filter: invert(40%) sepia(83%) saturate(337%) hue-rotate(130deg);
	}
}

.sidebar{
	width: 209px;
	margin-top: 77px;
}

.aside-slider{
	&_vertical{
		margin: 0;
		position: sticky;
		top: 35px;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		overflow: hidden;
		padding: 30px 0;
		&_vertical{
			flex-direction: column;
			margin: 0;
			& svg{
				width: 20px;
				height: 20px;
			}
			& .aside-slider__slide {
				margin-bottom: 9px;
			}
			& .aside-slider__slide_active {
				margin-bottom: 32px;
				margin-top: 24px;
			}
		}
	}
	&__slide{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 108px;
		height: 108px;
		background: linear-gradient(to right, #07EEE0, #DF496D);
		border-radius: 50%;
		cursor: pointer;
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 0 12px #329179;
		}
		&_active{
			transform: scale(1.5);
			& .aside-slider__img{
				position: absolute;
				width: 86%;
				height: 86%;
				padding: 10px;
			}
			& .aside-slider__substrate{
				width: 96%;
				height: 96%;
			}
      &:hover{
        transform: scale(1.5);
      }
		}
	}
	&__substrate{
		width: 0%;
		height: 0%;
		border-radius: 50%;
		background-color: var(--bg-second);
	}
	&__img{
		width: 101%;
		height: 101%;
		object-fit: cover;
		border-radius: 50%;
	}
	&__button{
		position: absolute;
		top: calc(50% - 17px);
		cursor: pointer;
		display: block;
		& svg path {
			fill: var(--color-text);
		}
		&:hover svg path {
			fill: #828282;
		}
		& svg{
			width: 20px;
			height: 20px;
		}
		&_left{
			top: -18px;
			left: calc(50% - 12px);
			transform: rotate(90deg);
		}
		&_right{
			top: auto;
			bottom: -7px;
			left: calc(50% - 12px);
			transform: rotate(90deg);
		}
	}
}

.zoo{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	&__videos{
		flex: 0 0 66%;
	}
	&__description{
		margin-left: 30px;
		&-title{
			text-align: start;
		}
		&-wrapper{
			margin-bottom: 35px;
		}
	}
	&__thumbs{
		display: flex;
		flex-direction: row;
		margin: 0 -13px 0;
	}
	&__thumb{
		margin: -4px 13px;
	}
	&__thumb iframe {
		border-radius: 5px;
		height: 92%;
	}
	&__main-video{
		margin-bottom: 30px;
	}
	&__main-video iframe {
		border-radius: 5px;
	}
	&__dots{
		display: flex;
		margin-top: 22px;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	&__dot{
		width: 8px;
		height: 8px;
		border-radius: 50%;
		margin-right: 5px;
		background-color: #c4c4c4;
		cursor: pointer;
		&:hover{
			opacity: 0.5;
		}
		&-active{
			width: 11px;
			height: 11px;
			background-color: #4bd8b5;
		}
	}
}

.page__wrapper{
	margin-top: 60px;
	margin-bottom: 100px;
}

