html{
  --width1200: 1200px;
  --width900: 900px;
  --width800: 800px;
  --width790: 790px;
  --width600: 600px;
  --width300: 300px;
  }

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER

@media (min-width: 1920px) {
  .header__wrapper {
    width: 1620px;
  }
}

@media (max-width: 1919px) {
  .header__wrapper {
    width: 100%;
    padding: 0 150px;
    z-index: 5;
  }
}

@media (min-width: 1200px) {
  .navbar_header {
    display: flex;
  }

  .header:after {
    display: none;
  }

  .header__burger {
    display: none;
  }

  .navbar__list {
    justify-content: space-between;
    &_header {
      width: 573px;
      margin: auto;
    }
  }

  .navbar__item-text {
    font-size: 16px;
  }

}

@media (max-width: 1199px) {
  body.lock {
    overflow: hidden;
  }

  .header__wrapper {
    padding: 0 calc(20px + (150 - 20) * ((100vw - 640px) / (1200 - 640)));
    width: var(--width1200);
  }

  .navbar_header {
    top: -180vw;
    position: relative;
    left: 0;
    display: block;
    background-color: var(--bg-second);;
    position: absolute;
    width: 100%;
    height: 180vw;
    z-index: 2;
    box-shadow: inset 0 3px 17px 0px var(--box-shadow);
    transition: all 0.3s ease 0s;
    &.active {
      top: 94px;
      padding-top: 50px;
    }
  }

  .navbar__list_header {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar_header .navbar__item-text {
    font-size: 35px;
  }

  .navbar__item-margin {
    margin: 30px 0;
  }
  
  .header {  
    &__burger {
      display: block;
      position: relative;
      width: 40px;
      height: 21px;
      top: 37px;
      cursor: pointer;
      z-index: 3;
      & span {
        position: relative;
        background-color: var(--color-text);
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
      &:before, &:after {
        content: '';
        background-color: var(--color-text);
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
        width: 33px;
        left: 7px;
      }
    }
  }

  .header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
    width: 40px;
    left: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }
  
  .theme {
    left: 32%;
    position: relative;
  }

  .range__main-size {
    width: 245px;
  }
}

@media (min-width: 640px) {
  .header {
    position: relative;
    height: 94px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  }
}

@media (max-width: 640px) {
  .header {
    position: fixed;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  }

  .main {
    position: relative;
    padding-top: 94px;
  }
}

@media (max-width: 639px) {
  .header__wrapper {
    padding: 0 10px;
  }

  .theme {
    left: 16%;
    position: relative;
  }

  .header {
    height: 92px;
  }

  .navbar_header.active {
    top: 92px;
    padding-top: 50px;
  }
}

@media (max-width: 320px) {
	.main {
		padding-top: 92px;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ASIDE
@media (min-width: 1920px) {
  .aside-slider {
    position: relative;
    margin: 0px 50px;
  }

  .aside-slider__slide {
    margin: 15px;
  }

  .aside-slider__button_right {
    right: -44px;
  }

  .aside-slider__button_left {
    left: -43px;
  }

  .aside-slider__button {
    position: absolute;
    top: calc(50% - 17px);
    cursor: pointer;
    display: block;
  }

  .counter {
    margin-top: 8px;
    right: 17px;
  }

  .aside-slider__slide_active {
    margin: 17px 13px;
  }
}

@media (max-width: 1919px) {
  .aside-slider {
    position: relative;
    margin: 0px 52px;
  }

  .aside-slider__slide {
    margin: 15px 15px;
  }

  .aside-slider__button_right {
    right: -54px;
  }

  .aside-slider__button_left {
    left: -54px;
  }

  .aside-slider__button {
    position: absolute;
    top: calc(50% - 15px);
    cursor: pointer;
    display: block;
  }

  .counter {
    margin-top: 0;
    right: 0;
  }

  .aside-slider__slide_active {
    margin: 17px;
  }
}

@media (min-width: 1200px) {

}

@media (max-width: 1199px) {
  .aside-slider {
    position: relative;
    margin: 0px 32px;
  }

  .aside-slider__slide {
    margin: 7.5px;
  }

  .aside-slider__slide_active {
    -webkit-transform: scale(1.47);
    transform: scale(1.47);
    margin: 15px 26px;
  }

  .aside-slider__button_right {
    right: -26px;
  }

  .aside-slider__button_left {
    left: -26px;
  }
}

@media (min-width: 640px) {
  .aside-slider__slide {
    width: 108px;
    height: 108px;
  }

  .aside-slider__slide_active .aside-slider__substrate {
    width: 96%;
    height: 96%;
  }

  .aside-slider__slide_active .aside-slider__img {
    position: absolute;
    width: 105%;
    height: 105%;
    padding: 10px;
  }

  .aside-slider__wrapper {
    padding: 30px 0;
  }
}

@media (max-width: 639px) {
  .aside-slider__slide {
    width: 60px;
    height: 60px;
    margin: 5px;
  }

  .aside-slider__slide_active {
    margin: 0 17px;
  }

  .aside-slider__slide_active .aside-slider__substrate {
    width: 93%;
    height: 93%;
  }

  .aside-slider__slide_active .aside-slider__img {
    width: 120%;
    height: 120%;
  }

  .aside-slider__wrapper {
    padding: 27px 0;
  }

  .aside-slider__button_right {
    right: -16px;
  }

  .aside-slider__button_left {
    left: -16px;
  }

  .aside-slider__button {
    top: calc(50% - 12px);
  }
}

@media (width: 320px) {
  .counter {
    margin-top: 3px;
    left: 12px;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MAP

@media (min-width: 1920px) {
  .map {
    width: var(--width1200);
    margin: 60px 0 100px 0;
    &__text{
      width: var(--width790);  
    }
    &__world {
      margin-bottom: 42px;
      margin-top: 82px;
    }
    &__text {
      margin: 20px auto 34px;
    }
  }

  .label__position{
		&-eagle{
      bottom: 322px;
      left: 133px;
		}
		&-crocodile{
			bottom: 301px;
			left: 245px;
		}
		&-gorilla{
			bottom: 214px;
			left: 572px;
		}
		&-panda{
      bottom: 305px;
      left: 905px;
		}
	}

  .map__animal:hover .window {
    right: 402px;
  }

  .footer__column{
		&_right{
			margin-left: 26px;
		}
	}

  .label__wrapper {
    width: 66px;
    height: 66px;
  }

  .label__img {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 2;
  }

  .label__wrapper::after {
    content: '';
    bottom: -31px;
    left: 3px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid #4bd8b5;
  }

  .map__animal:hover .label__wrapper::after {
    border-top: 50px solid #EB5757;
  }
}

@media (max-width: 1919px) {
  .map {
    width: var(--width800);
    margin: 60px 0 100px 0;
    &__world {
      margin-bottom: 31px;
      margin-top: 52px;
    }
    &__world_img{
      width: 800px;
      height: 388px;
    }
    &__text{
      padding: 0 5px;
      margin: 22px 0 14px 0;;
    }
  }

  .label__position{
		&-eagle{
      bottom: 246px;
      left: 76px;
		}
		&-crocodile{
      bottom: 234px;
      left: 156px;
		}
		&-gorilla{
      bottom: 157px;
      left: 374px;
		}
		&-panda{
      bottom: 233px;
      left: 585px;
		}
	}

  .map__animal:hover .window {
    right: -16px;
  }

  .map__animal:hover .window-panda {
    right: 403px;
  }

  .footer__column{
		&_right{
			margin-left: 76px;
		}
	}

  .label__wrapper {
    width: 59px;
    height: 59px;
  }

  .label__img {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: 11px;
    top: 11px;
    z-index: 2;
  }

  .label__wrapper::after {
    content: '';
    bottom: -30px;
    left: 3px;
    position: absolute;
    border-left: 26px solid transparent;
    border-right: 27px solid transparent;
    border-top: 47px solid #4bd8b5;
  }

  .map__animal:hover .label__wrapper::after {
    border-top: 47px solid #EB5757;
  }
}

@media (max-width: 1199px) {
  .map {
    width: var(--width600);
    margin: 60px 0 80px 0;
    &__world {
      margin-top: 37px;
      &_img {
        width: 600px;
        height: 290px;
      }
    }
    &__text {
      margin: 22px auto 14px;
      padding: 0;
    }
  }

  .counter {
    margin-top: 4px;
  }

  .label {
    &__position-eagle {
      bottom: 189px;
      left: 54px;
    }
    &__position-crocodile {
      bottom: 180px;
      left: 104px;
    }
    &__position-gorilla {
      bottom: 127px;
      left: 269px;
    }
    &__position-panda {
      bottom: 184px;
      left: 428px;
    }
  }

  .map__animal:hover .window-gorilla {
		right: 191px;
	}

  .label__wrapper {
    width: 66px;
    height: 66px;
  }

  .label__img {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 2;
  }

  .label__img {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 2;
  }

  .label__wrapper::after {
    content: '';
    bottom: -31px;
    left: 3px;
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid #4bd8b5;
  }

  .map__animal:hover .label__wrapper::after {
    border-top: 50px solid #EB5757;
  }
}

@media (min-width: 640px) {  
  .main-title {
    font-size: 48px;
  }

  .main-text {
    font-size: 14px;
  }

  .window {
    height: 149px;
    width: 436px;
    &__img {
      margin: 40px 20px 0 44px;
    }
    &__information {
      margin-top: 40px;
    }
    &__title {
      font-size: 18px;
      margin-bottom: 4.5px;
    }
    &__about {
      &-textbold {
        font-size: 14px;
        font-weight: 900;
      }
      &-textregular{
        font-weight: 400;
        font-size: 14px;
      }
      &-text {
        margin: 2.5px 0;
      }
    }
  }
}

@media (max-width: 639px) {
  .main-title {
    font-size: 24px;
  }

  .main-text {
    font-size: 12px;
    line-height: 14px;
  }

  .map {
    width: var(--width300);
    margin: 35px 0 60px 0;
    &__world {
      margin-top: 37px;
      margin-bottom: 31px;
    }
    &__world_img {
      width: 300px;
      height: 146px;
    }
    &__animal:hover .label__wrapper::after {
      border-top: 29px solid #EB5757;
    }
    &__animal:hover .window {
      right: -4px;
      top: 33px;
    }
    &__text {
      margin: 11px auto 18px;
      padding: 0 10px;
    }
  }

  .label__wrapper {
    width: 33px;
    height: 33px;
  }

  .label__wrapper::after {
    content: '';
    bottom: -16px;
    left: 0px;
    position: absolute;
    border-left: 16px solid transparent;
    border-right: 17px solid transparent;
    border-top: 29px solid #4bd8b5;
  }

  .label__img {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    z-index: 2;
    left: 6px;
    top: 6px;
  }

  .label__position-eagle {
    bottom: 50px;
    left: 26px;
  }

  .label__position-crocodile {
    bottom: 41px;
    left: 53px;
  }

  .label__position-gorilla {
    bottom: 18px;
    left: 135px;
  }

  .label__position-panda {
    bottom: 44px;
    left: 216px;
  }

  .window {
    width: 238px;
    height: 113px;
    &__img {
      margin: 16px 8px 0 15px;
    }
    &__img img{
      width: 40px;
      height: 40px;
    }
    &__information {
      margin-top: 17px;
    }
    &__title {
      font-size: 14px;
      margin-bottom: 0;
    }
    &__about {
      width: 151px;
      &-textbold {
        font-size: 11px;
        font-weight: 500;
      }
      &-textregular{
        font-size: 11px;
      }
      &-text {
        margin: 2px 0;
        line-height: 13px;
      }
    }
  }

  .map__animal:hover .window-panda {
    right: 214px;
    top: 33px;
  }

  .map__animal:hover .window-gorilla {
    right: 104px;
    top: 26px;
  }

}


// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER

@media (min-width: 1920px) {
  .footer {
    justify-content: center;
    &__content {
      width: 1700px;
    }
    &__donate {
      top: 0;
      right: 0;
    }
    &__copyright {
      margin-top: 33px;
    }
    &__navbar {
      padding-left: 15px;
      margin: 20px 0 75px 0;
    }
    &__form {
      flex: 1 0 50%;
      margin-bottom: 58px;
    }
  }

  .footer__column{
		&_right{
			margin-left: 26px;
		}
	}

  .footer__column-position {
    margin-bottom: 58px;
  }

  .footer__contacts {
    padding-left: 15px;
  }
}

@media (max-width: 1919px) {
  .footer {
    &__donate {
      padding: 0px 8px;
      left: 50%;
      bottom: 60px;
      top: auto;
      right: auto;
    }  
    &__contacts {
      position: relative;
      bottom: 12px;
      padding: 0 10px;
    }
    &__navbar {
      padding-left: 10px;
      margin: 20px 0 73px 0;
    }
    &__copyright {
      margin-top: 32px;
    }
    &__form {
      margin-bottom: 63px;
      flex: 1 0 50%;
    }
  }

  .footer__column{
		&_right{
			margin-left: calc(76px + (26 - 76) * ((100vw - 1200px) / (1920 - 1200)));;
		}
	}

  .footer__column-position {
    margin-bottom: calc(45px + (58 - 45) * ((100vw - 1200px) / (1920 - 1200)));
  }

}

@media (min-width: 1200px) {
  .footer{
    &__wrapper {
      width: 1620px;
      margin: 100px 150px 72px 150px;
    }    
    &__content {
      flex-direction: row;
    }
    &__logo {
      flex: 1 0 50%;
    }
    &__navbar {
      flex: 1 0 50%;
      align-self: flex-end;
    }
    &__contacts {
      flex: 1 0 50%;
    }
  } 

  .navbar__footer {
    width: 380px;
  }
}

@media (max-width: 1199px) {

  .footer{
    display: flex;
    justify-content: center;
    &__wrapper {
      width: var(--width600);
      margin: 94px 0 48px 0;
    }
    &__navbar {
      padding-left: 0;
      margin: 34px 0 23px 0;
    }
    &__content {
      flex-direction: column;
    }
    &__form {
      margin-bottom: 89px;
    }
    &__contacts {
      padding: 0;
    }
    &__copyright {
      margin-top: 29px;
    }
    &__donate {
      padding: 0px 10px;
      left: 52%;
      bottom: 728px;
    }
  }

  .navbar__footer {
    width: 51px;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer .navbar__item-text {
    font-size: 16px;
  }

  .footer__copyright {
    margin-top: 29px;
  }
}

@media (min-width: 640px) {
  .contactUs__send {
    margin-right: 14px;
  }

  .footer__form-title {
    margin-bottom: 35px;
  }

  .contactUs__fieldset {
    margin-bottom: 22px;
  }

  .footer__contacts {
    margin-bottom: 57px;
  }
}

@media (max-width: 639px) {
  .footer {
    &__wrapper {
      width: var(--width300);
      margin: 50px 0 27px 0;
    }
    &__navbar {
      padding-left: 1px;
      margin: 44px 0 23px 0;
    }
    &__form {
      margin-bottom: 66px;
      &-title {
        margin-bottom: 35px;
      }
    }
  }

  .contactUs__send {
    margin-right: 0;
  }

  .contactUs__fieldset {
    margin-bottom: 22px;
  }

  .footer__donate {
    padding: 0px 10px;
    left: 0%;
    bottom: 0;
  }

  .footer__contacts {
    margin-bottom: 167px;
  }

  .footer__copyright {
    margin-top: 29px;
  }
}