.control-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.general {
  width: 102px;
}

.control-car {
  width: 72px;
}

.road {
  position: relative;
  border-top: 3px solid #808080;
  border-bottom: 3px solid #808080;
  width: 100%;
  padding: 15px 0;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    border-top: 3px dashed #927136;
    z-index: -1;
  }
}

.control-panel {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.remove-btn,
.select-btn,
.start-engine-btn,
.stop-engine-btn {
  width: 100%;
}

.finish-line {
  position: absolute;
  height: 100%;
  border-right: 3px double #ff6060;
  top: 0;
  right: 95px;
  z-index: -1;
}

.car-name {
  user-select: none;
  position: absolute;
  top: 0;
}

.car {
  width: 100px;
}

@media (max-width: 950px) {
  .remove-btn,
  .select-btn,
  .start-engine-btn,
  .stop-engine-btn {
    width: 90px;
  }
  .control-panel {
    flex-direction: row;
    justify-content: flex-start;
  }
  .general {
    width: 70%;
  }

  .control-car {
    width: 30%;
  }
}
