.header {
  width: 100%;
  display: flex;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.logo {
  user-select: none;
  position: absolute;
  width: 85%;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  & h1 {
    margin: 0;
    margin-left: 5px;
    font-size: 22px;
  }
}

.menu {
  position: relative;
}

.form {
  display: flex;
  flex-direction: row;
  & input {
    margin: 5px;
  }
  & .input {
    min-width: 200px;
    width: 250px;
  }
  & .color {
    min-width: 44px;
  }
}

.forms {
  display: flex;
}

.btn {
  margin: 2px;
}

.garage-view {
  position: relative;
}

.message {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  border: 3px solid #c74040;
  border-radius: 10px;
  color: #d3d3d3;
  font-size: larger;
  background-color: black;
  margin: 0;
  padding: 10px;
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.visible {
  display: block;
}

.footer {
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
  padding: 5px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.github {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url(../assets/svg/github.svg);
  text-decoration: none;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #cbd5de;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

.rss {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 86px;
  height: 32px;
  background-image: url(../assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 111px;
}

.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}

.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
}

.hide {
  display: none;
}

@media (max-width: 950px) {
  .forms {
    flex-wrap: wrap;
  }
}
