.form {
  display: flex;
  flex-direction: row;
  & input {
    margin: 5px;
  }
  & .input {
    min-width: 200px;
    width: 250px;
  }
  & .color {
    min-width: 44px;
  }
}

.btn {
  margin: 2px;
}
