{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "eslint-config-airbnb",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-filename-extension": [2, {
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }],
    "react/prop-types": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "jsx-a11y/label-has-associated-control": [2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "depth": 3
    }],
    "@typescript-eslint/no-var-requires": 0,
    "no-use-before-define": "off",
    "global-require": 0,
    "linebreak-style": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-empty-function": 0,
    "prettier/prettier": ["error", {
      "endOfLine": "auto",
      "printWidth": 80,
      "arrow-body-style": "off",
      "prefer-arrow-callback": "off",
      "singleQuote": false
    }],
    "no-console": "warn"
  },
  "globals": {
    "React": true,
    "google": true,
    "mount": true,
    "mountWithRouter": true,
    "shallow": true,
    "shallowWithRouter": true,
    "context": true,
    "expect": true,
    "jsdom": true,
    "JSX": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}